docopt==0.6.2
GitPython==3.1.32
jsonschema-specifications==2023.7.1
langchain==0.0.244
langsmith==0.0.14
numexpr==2.8.4
numpy==1.25.1
openai==0.27.8
openapi-schema-pydantic==1.2.4
pipreqs==0.4.13
pyarrow==12.0.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytube==15.0.0
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0.1
referencing==0.30.0
regex==2023.6.3
requests==2.31.0
sentence-transformers==2.2.2
streamlit==1.25.0
